@using SpaceAdventures.MVC.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Users
@{
    ViewData["Title"] = "GetAllUser";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>

<span id="message" class="d-none">@TempData["Message"]</span>

<br/>

<div id="myHeader" class="text-center mt-5 pt-5 text-white">
    <h1 class="display-4">Space Adventures</h1>
    <h2>List of the platform's users</h2>
</div>


@if (ViewContext.HttpContext.Session.GetString("Role") == RolesType.Owner.ToString())
{
    <p><a class="btn btn-outline-info btn-sm" asp-action="CreateUser"> <i class="fa-solid fa-plus"></i> Add New User</a></p>
}
else
{
    <p><a class="btn btn-outline-info btn-sm disabled" asp-action="CreateUser"> <i class="fa-solid fa-plus"></i> Add New User</a></p>
}

<table id="datatable" class="table border rounded">
    <thead class="dataTableColumn">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UsersList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
          @if (ViewContext.HttpContext.Session.GetString("Role") == RolesType.Owner.ToString())
            {
            <td>
                <a class="btn btn-dark btn-sm" asp-action="UpdateUser" asp-route-Email="@item.Email"><i class="fa-solid fa-pen fa-xs m-2"></i></a> |
                <a class="btn btn-danger btn-sm" asp-action="DeleteUser" asp-route-id ="@item.IdUser"><i class="fa-solid fa-trash fa-xs m-2"></i></a>
            </td>
            }
          else
          {
              <td>
                  <a class="btn btn-dark btn-sm disabled" asp-action="UpdateUser" asp-route-Email="@item.Email"><i class="fa-solid fa-pen m-2 fa-xs m-2"></i></a> |
                  <a class="btn btn-danger btn-sm disabled" asp-action="DeleteUser" asp-route-id ="@item.IdUser"><i class="fa-solid fa-trash m-2 fa-xs m-2"></i></a>
              </td>
          }
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src ="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src ="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src ="~/js/datatable.js"></script>
}

                
