@model IEnumerable<UserVm>
@{
    ViewData["Title"] = "GetAllUser";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>

<h1 class="m-4 p-4 text-center text-white"></h1>

<p>
<a class="btn btn-primary" asp-action="CreateUser"> <i class="fa-solid fa-plus"></i> Add New User</a>
</p>
<table id="datatable" class="table border rounded">
    <thead class="dataTableColumn">
    <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                 <a class="btn btn-success btn-sm" asp-action="" asp-route-Email="@item.Email">
                    <i class="fa-solid fa-pen m-2"></i>
                </a> |
                <a class="btn btn-danger btn-sm" asp-action="DeleteUser" asp-route-email ="@item.Email">
                    <i class="fa-solid fa-trash m-2"></i>
                </a>
                
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatable.js"></script>
    
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

}