@model SpaceAdventures.MVC.Models.Booking

@{
    ViewData["Title"] = "CreateBooking";
}

<link rel="stylesheet" href="~/css/Booking.css" asp-append-version="true" />

<br/><br/>

<div id="myHeader" class="text-center mt-5 pt-5 text-white">
    <h1 class="display-4">Space Adventures</h1>
    <h2>Booking Form</h2>
</div>

@{
    var flightList = new SelectList("","");
}

<form asp-action="CreateBooking">
    <div asp-validation-summary="ModelOnly" class="text-danger "></div>
    <div class="row mt-4">
        <div class="form-group col">
            <label asp-for="Lastname" class="control-label text-white"></label>
            <input asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="FirstName" class="control-label text-white"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="form-group col">
            <label asp-for="IdItinerary" class="control-label text-white"></label>
            @Html.DropDownListFor(x => Model.IdItinerary, new SelectList(@ViewBag.itinerariesSelectList, "Text", "Value"), htmlAttributes: new { @class = "form-control BiggerBox", id="IdItinerary"})
            <span asp-validation-for="IdItinerary" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="IdFlight" class="control-label text-white"> Available Flights</label>
            @Html.DropDownListFor(x => Model.IdFlight, new SelectList(flightList, "Text", "Value"), htmlAttributes: new { @class = "form-control BiggerBox", id="IdFlight"})
            <span asp-validation-for="IdFlight" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="form-group col">
            <label asp-for="NbSeats" class="control-label text-white BiggerBox">How many seats do you whish to book ?</label>
            <input asp-for="NbSeats" class="form-control" id="NbSeatsChange" />
            <span asp-validation-for="NbSeats" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label class="control-label text-white BiggerBox"> Booking amount</label>
            <input id="AmountCalculation"  class="form-control" readonly="readonly" />
        </div>
    </div>
    <div class="form-group text-center m-3">
        <input type="submit" value="Confirm booking" class="btn btn-dark" />
        <a class="btn btn-info m-3" asp-action="Index">Back to planets</a>
    </div>
</form>

<div class="text-center">
    <video controls autoplay name="media"><source src="@ViewBag.video" type="video/mp4">Your browser does not support the video tag.</video>
</div>

@section Scripts {
    
    
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    


    <script type="text/javascript">

        $("#IdItinerary").change(function () {
            var selectedItinerary = $("#IdItinerary").val();
            var FlightSelect = $("#IdFlight");
            FlightSelect.empty();


            if (selectedItinerary != null && selectedItinerary != '') {
                $.getJSON('@Url.Action("GetFlightsByItinerary","Flights")', { idItinerary: selectedItinerary }, function(flights) {
                        if (flights != null)
                        {
                            FlightSelect.append($('<option/>', {
                                value: null,
                                text: "--- Select Flight ---"
                            }));
                            $.each(flights, function (index,flight) {
                                FlightSelect.append($('<option/>', {
                                    value: flight.value,
                                    text: flight.text
                                }));
                            });
                        }
                    }
                );
            }
        });

        $("#NbSeatsChange").change(function() {
            var Amount = $("#AmountCalculation");
            var Nbseat = $("#NbSeatsChange").val();
            var Flight = $("#IdFlight").val();
            Amount.empty();

            if (Nbseat != null && Nbseat != '' && Flight!= null && Flight != '') {
                $.getJSON('@Url.Action("GetFlightById","Flights")', { IdFlight: Flight }, function(t) {
                    
                    var value = (parseInt(Nbseat) * (t.price));
                    $("#AmountCalculation").val(value);
                });
            };
        });

    </script>

}
