@model SpaceAdventures.MVC.Models.Bookings

@{
    ViewData["Title"] = "GetAllBookings";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>

<br/><br/><br/><br/>


<div id="myHeader" class="text-center mt-5 pt-5 text-white">
    <h1 class="display-4">Space Adventures</h1>
    <h2>Bookings</h2>
</div>

<table id="datatable" class="table border rounded">
    <thead class ="dataTableColumn">
        <tr>
            <th>Client name</th>
            <th>Flight number</th>
            <th>Number of seats</th>
            <th> Planet of departure</th>
            <th> Aiport of departure</th>
            <th> Planet of arrival</th>
            <th> Airport of arrival </th>
            
        </tr>
    </thead>
    <tbody class ="dataTableColumn" >
@foreach (var item in Model.BookingsList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFlight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbSeats)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.planet1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.airport1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planet2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.airport2Name)
            </td>
           
        </tr>
}
    </tbody>
</table>


@section Scripts
{
    <script src ="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src ="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src ="~/js/datatable.js"></script>
}