@model SpaceAdventures.MVC.Models.Bookings

@{
    ViewData["Title"] = "GetBookingsByClient";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>

<br/><br/><br/><br/>
<span id="message" class="d-none">@TempData["Message"]</span>

<div id="myHeader" class="text-center mt-5 pt-5 text-white">
    <h1 class="display-4">Space Adventures</h1>
    <h2>My Bookings</h2>
</div>

<table id="datatable" class="table border rounded">
    <thead class ="dataTableColumn">
        <tr>
            <th>Flight number</th>
            <th>Number of seats</th>
            <th> Planet of departure</th>
            <th> Aiport of departure</th>
            <th> Planet of arrival</th>
            <th> Airport of arrival </th>
            
        </tr>
    </thead>
    <tbody class ="dataTableColumn" >
@foreach (var item in Model.BookingsList) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.IdFlight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planet1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.airport1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planet2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.airport2Name)
            </td>
            
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src ="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src ="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src ="~/js/datatable.js"></script>
}