@using SpaceAdventures.MVC.Models.Enums
@model Itineraries

@{
    ViewData["Title"] = "GetItineraries";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>

<br/><br/>

<div id="myHeader" class="text-center mt-5 pt-5 text-white">
    <h1 class="display-4">Space Adventures</h1>
    <h2>Itineraries</h2>
</div>

@if (@ViewContext.HttpContext.Session.GetString("Role") == RolesType.Agent.ToString())
{
    <p><a class="btn btn-outline-info btn-sm disabled" > <i class="fa-solid fa-plus"></i> Add New Itinerary</a></p>
}
else
{
    <p><a class="btn btn-outline-info btn-sm udrconst" > <i class="fa-solid fa-plus"></i> Add New Itinerary</a></p>
}


<table id="datatable" class="table border rounded">
    <thead class="dataTableColumn">
    <tr>
        <th>Itinerary ID</th>
        <th>Departure Airport </th>
        <th>Departure Planet</th>
        <th>Arrival Airport </th>
        <th>Arrival Planet</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ItinerariesList)
    {
        <tr class="dataTableColumn">
            <td>
                @Html.DisplayFor(modelItem => item.IdItinerary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.airport1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planet1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.airport2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planet2Name)
            </td>
           
            
            @if (@ViewContext.HttpContext.Session.GetString("Role") == RolesType.Agent.ToString())
            {
                <td><a class="btn btn-dark btn-sm disabled" ><i class="fa-solid fa-pen m-2"></i></a> |
                    <a class="btn btn-danger btn-sm disabled" ><i class="fa-solid fa-trash m-2"></i></a>
                </td>
            }
            else
            {
                <td><a class="btn btn-dark btn-sm udrconst"  ><i class="fa-solid fa-pen m-2"></i></a> |
                    <a class="btn btn-danger btn-sm udrconst"  ><i class="fa-solid fa-trash m-2"></i></a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatable.js"></script>
    <script src="~/js/toast-underconstruction.js"></script>
}