@using SpaceAdventures.MVC.Models.Enums
@model Itineraries

@{
    ViewData["Title"] = "GetItineraries";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>

<br/><br/>

<div id="myHeader" class="text-center mt-5 pt-5 text-white">
    <h2>Itineraries</h2>
</div>

@if (@ViewContext.HttpContext.Session.GetString("Role") == RolesType.Agent.ToString())
{
    <p><a class="btn btn-outline-info btn-sm disabled" asp-action=""> <i class="fa-solid fa-plus"></i> Add New Itinerary</a></p>
}
else
{
    <p><a class="btn btn-outline-info btn-sm" asp-action=""> <i class="fa-solid fa-plus"></i> Add New Itinerary</a></p>
}


<table id="datatable" class="table border rounded mt-5">
    <thead class="dataTableColumn">
    <tr>
        <th>Itinerary ID</th>
        <th>Departure Airport ID</th>
        <th>Arrival Airport ID</th>
        <th>Rate</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ItinerariesList)
    {
        <tr class="dataTableColumn">
            <td>
                @Html.DisplayFor(modelItem => item.IdItinerary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAirport1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAirport2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            
            @if (@ViewContext.HttpContext.Session.GetString("Role") == RolesType.Agent.ToString())
            {
                <td><a class="btn btn-dark btn-sm disabled" asp-action="" asp-route-id="@item.IdItinerary"><i class="fa-solid fa-pen m-2"></i></a> |
                    <a class="btn btn-danger btn-sm disabled" asp-action="" asp-route-id="@item.IdItinerary"><i class="fa-solid fa-trash m-2"></i></a>
                </td>
            }
            else
            {
                <td><a class="btn btn-dark btn-sm" asp-action="" asp-route-id="@item.IdItinerary"><i class="fa-solid fa-pen m-2"></i></a> |
                    <a class="btn btn-danger btn-sm" asp-action="" asp-route-id="@item.IdItinerary"><i class="fa-solid fa-trash m-2"></i></a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatable.js"></script>
}