@using SpaceAdventures.MVC.Models.Enums
@model Clients

@{
    ViewData["Title"] = "GetClients";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>

<br/><br/>

<div id="myHeader" class="text-center mt-5 pt-5 text-white">
    <h1 class="display-4">Space Adventures</h1>
    <h2>Customers</h2>
</div>

<table id="datatable" class="table border rounded">
    <thead class="dataTableColumn">
    <tr>
        <th>Customer ID</th>
        <th>First name</th>
        <th>Last name</th>       
        <th>Email</th>
        <th>Bookings</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ClientsList)
    {
        <tr class="dataTableColumn">
            <td>
                @Html.DisplayFor(modelItem => item.IdClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
             <td> 
                  <a asp-controller="Booking" asp-action="GetBookingsByClient" asp-route-id="@item.IdClient" > Bookings </a>
             </td>
    @if (@ViewContext.HttpContext.Session.GetString("Role") == RolesType.Agent.ToString())
    {
        <td>
            <a class="btn btn-dark btn-sm disabled"><i class="fa-solid fa-pen m-2"></i></a> |
            <a class="btn btn-danger btn-sm disabled"><i class="fa-solid fa-trash m-2"></i></a>
        </td>
    }
    else
    {
        <td>
            <a class="btn btn-dark btn-sm udrconst"><i class="fa-solid fa-pen m-2"></i></a> |
            <a class="btn btn-danger btn-sm udrconst"><i class="fa-solid fa-trash m-2"></i></a>
        </td>
    }
        </tr>
    }

   
    </tbody>
</table>


@section Scripts
{
    <script src ="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src ="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src ="~/js/datatable.js"></script>

     <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toast-underconstruction.js"></script>
}