@model SpaceAdventures.MVC.Models.Aircrafts

@{
    ViewData["Title"] = "GetAircrafts";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<h1 class="m-4 p-4 text-center text-white"></h1>

<p>
    <a class="btn btn-primary" asp-action=""> <i class="fa-solid fa-plus"></i> Add New Aircraft</a>
</p>
<table id="datatable" class="table border rounded">
    <thead class="dataTableColumn">
    <tr>
        <th>Aircraft ID</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Number of seats</th>
        
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @Model.AircraftsList) {
        <tr class="dataTableColumn">
            <td>
                @Html.DisplayFor(modelItem => item.IdAircraft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
           
            <td>
                <a class="btn btn-success btn-sm" asp-action="" asp-route-id="@item.IdAircraft">  <i class="fa-solid fa-pen m-2"></i></a> |
                <a class="btn btn-danger btn-sm" asp-action="" asp-route-id="@item.IdAircraft"><i class="fa-solid fa-trash m-2"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>


@section Scripts
{
    
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatable.js"></script>


}

